input[type="submit"], button[type="submit"], input[type="button"] {
   background-color: #e1dcb9;
   background-image: url([[pix:theme|input_button_top]]),
                     url([[pix:theme|input_button_lower]]);
   background-position: top, bottom;
   background-repeat: repeat-x, repeat-x;
   padding: 2px 10px;
   border: 1px solid #461d7c;
   color: #000000;
}

input[type="submit"]:hover, button[type="submit"]:hover, input[type="button"]:hover {
   color: #461d7c;
   background: #fff;
   cursor: pointer;
}

.region-content div div div input[type="submit"], .region-content div div div button[type="submit"], .region-content div div div input[type="button"] {
}

.region-content input[type="submit"]:hover, .region-content button[type="submit"]:hover, .region-content input[type="button"]:hover {
   background-color: #ffffff;
   cursor: pointer;
}

select {
   background-color: #e1dcb9;
   border: 1px solid #461d7c;
}

input[type="text"] {
   background-color: #ffffff;
   padding: 2px 5px;
   border: 0px solid #461d7c;
   color: #000000;
}


input[type="checkbox"] {
   margin: 0 10px 0 0;
   background-color: #ffffff;
   width: 12px;
   height: 12px;
   border: 1px solid #461d7c;
}

input[type="checkbox"]:checked {
   background-color: #461d7c;
   border: 3px double #fdd023;
}

input[type="radio"] {
   margin: 0 10px 0 0;
   background-color: #ffffff;
   width: 12px;
   height: 12px;
   border: 1px solid #461d7c;
}

input[type="radio"]:checked {
   background-color: #461d7c;
   border: 3px double #fdd023;
}

.gecko input[type="submit"], .gecko button[type="submit"] {
   padding: 1px 5px;
}

.block button[type="submit"], .block input[type="submit"], .block input[type="text"] {
}

.block input[type="text"]#adminsearchquery {
   width: 90px;
   margin-right: 10px;
}

.navbar .navbutton .singlebutton input[type="submit"] {
   background: #cccccc url([[pix:theme|edit_switch]]) left top no-repeat;
   padding: 3px 10px;
   margin-top: -3px;
   padding-left: 50px;
   border: 1px solid #461d7c;
   color: #2e1352;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -webkit-appearance: none;
   -moz-box-shadow:inset 0 0 2px #666;
   -webkit-box-shadow:inset 0 0 2px #666;
   box-shadow:inset 0 0 2px #666;

}

.gecko .navbar .navbutton .singlebutton input[type="submit"] {
   padding-top: 2px;
   padding-bottom: 2px;
}

.navbar .navbutton .singlebutton input[type="submit"]:hover {
   background-position: left center; 
   color: #461d7c;
}

.editing .navbar .navbutton .singlebutton input[type="submit"] {
   background-color: #461d7c;
   background-position: right 0;
   padding-right: 50px;
   padding-left: 10px;
   color: #ffffff;
}

.editing .navbar .navbutton .singlebutton input[type="submit"]:hover {
   background-position: right center; 
   color: #eeeeee;
}
