/** General course settings **/
.course-content .label a, .course-content .label a:link, .course-content .label a:visited {
    font-weight: bold;
    text-decoration: underline;
}

.course-content .label p {
    line-height: 1.5em;
}

/** Course formats **/
.course-content ul.weeks li.section {
   margin-top: -5px;
   border: 1px solid #f4f4f4;
   background-color: transparent;
}

.course-content ul.weeks li#section-0 {
   margin-top: 0;
}

.course-content ul.weeks li.section ul.section {
   margin:0 20px 0 20px;
}

.course-content ul.weeks li.section .content {
   background-color: #FFF;
   padding: 0;
   margin: 0;
}

.course-content ul.weeks li.section .content .summary {
   padding: 10px 20px 0 20px;
}

.course-content ul.weeks li.section .content h3 {
   margin: 0;
   color: #333;
   font-weight: normal;
}

.course-content ul.weeks li.section .left {
   padding:5px;
}

.course-content ul.weeks li.section .right {
   padding:5px;
}

.course-content ul.weeks li.section .sectionname {
}

.course-content ul.weeks li.section .content h3.sectionname, .course-content li.section .content h3.section-title {
   margin: 0;
   padding: 4px 0 0 2em;
   height: 24px;
   background: transparent url([[pix:theme|navbar]]) 0 -150px repeat-x;
}

.course-content ul.weeks li.section .content li.activity,
.course-content ul.weeks li.section .content li.resource {
   padding: 3px 0;
}

.course-content ul.weeks li.section .content li.activity p,
.course-content ul.weeks li.section .content li.resource p {
   padding: 3px 0;
   margin: 0;
}

.course-content ul.topics li.section {
   margin-top: -5px;
   border: 1px solid #f4f4f4;
   background-color: transparent;
}

.course-content ul.topics li#section-0 {
   margin-top: 0;
}

.course-content ul.topics li.section ul.section {
   margin:0 20px 0 20px;
   padding: 0 0 10px 0;
}

.course-content ul.topics li.section .content {
   background-color: #FFF;
   padding: 0;
   margin: 0;
}

.course-content ul.topics li.section .content .summary {
   padding: 10px 20px 0 20px;
}

.course-content ul.topics li.section .content h3.sectionname {
   margin: 0;
   padding: 4px 0 0 2em;
   height: 24px;
   background: transparent url([[pix:theme|navbar]]) 0 -150px repeat-x;
}

.course-content ul.topics li.section .left {
   padding:5px;
}

.course-content ul.topics li.section .right {
   padding:5px;
}

.course-content ul.topics li.section .content li.activity,
.course-content ul.topics li.section .content li.resource {
   padding: 3px 0;
}

.course-content ul.topics li.section .content li.activity p,
.course-content ul.topics li.section .content li.resource p {
   padding: 3px 0;
   margin: 0;
}

.editing .course-content ul li.section .content ul.section {
   margin-left: 70px;
}

/** Course **/
.coursebox {
   border:1px solid #DDD;
   border-color:#DDDDDD;
   background-color: #f4f4f4;
   padding: 0;
}

.coursebox .info {
   margin:5px;
   font-size:1em;
}

.coursebox .info .name {
   margin:3px 0;
}

.coursebox .info .teachers {
   margin:0 1em;
   font-size:0.9em;
}

.coursebox .cost {
   font-size:0.9em;
   padding-top: 20px;
}

.coursebox .summary {
   margin:5px;
   font-size:0.9em;
}

.block_course_overview div.content {
   padding: 10px 12px 10px 10px;
   margin: 0;
   background-color:#fff;
}

#page-course-recent h2.main {
   font-size:1.1em;
}

#page-course-recent .user {
   font-size:0.75em;
}

#page-course-recent .grade {
   font-style: italic;
   font-size:0.9em;
}

#page-course-recent .forum-recent .reply .title {
   font-style: italic;
   font-size:0.9em;
}

#page-course-recent .forum-recent .discussion .title {
   font-weight:bold;
   font-style: italic;
   font-size:0.9em;
}

.course-content ul li.section .content .togglecompletion,
.course-content ul li.section .content .autocompletion {
   margin-right: 13px;
   padding: 5px;
}

.course-content ul li.section .content div.horizontal,
.editing .course-content ul li.section .content .togglecompletion,
.editing .course-content ul li.section .content .autocompletion {
   margin-right: 40px;
   padding: 5px;
}

.course-content ul li.section .content span.togglecompletion,
.course-content ul li.section .content span.autocompletion {
   width: 18px !important;
   height: 18px !important;
   overflow: hidden;
}

.course-content ul li.section ul.section li div.no-overflow p {
   margin-right: 20px !important;
}

.editing .course-content ul li.section ul.section li div.no-overflow p {
   margin-right: 50px !important;
}


.path-course-view .availabilityinfo {
   font-size:0.85em;
   color:#aaa;
}

.path-course-view .availabilityinfo strong {
   font-weight:normal;
   color:black;
}

.path-course-view .section {
   font-size:0.95em;
   line-height:1.2em;
}

.path-course-view .section .activity {
   padding:0.2em 0;
}

.path-course-view .section .activity a {
   line-height:1em;
}

.path-course-view .section .weekdates {
   margin: 0;
   font-weight: normal;
   font-size: 1em;
}

.path-course-view .section .groupinglabel {
   color: #666666;
}

.path-course-view .section .left {
   font-weight:bold;
}

.path-course-view .weeks .section,
.path-course-view .topics .section,
.path-course-view .section td {
   border-color:#DDDDDD;
}

.path-course-view .weeks .content,
.path-course-view .topics .content,
.path-course-view .weeks .section,
.path-course-view .topics .section {
   background-color: transparent;
}

.path-course-view .topics .section .content {
   background-color: #fff;
}

.path-course-view .section td.side {
   background: #FFFFFF;
}

.path-course-view .weeks .hidden .content,
.path-course-view .topics .hidden .content {
   border: 1px solid #883333;
   background-color: #eee !important;
}

.path-course-view .weeks .weekdates ,
.path-course-view .topics .weekdates {
   color: #000;
}

.weeks li.section ,
.topics li.section {
   border-style:solid;
   border-width:1px;
}

.weeks .content,
.topics .content {
   padding: 0;
}

.categoryboxcontent {
   border-color:#DDDDDD;
}

#page-course-user .graph {
   text-align: center;
}

#page-course-user .section {
   border-color:#AAAAAA;
}

#page-course-user .info {
   text-align:center;
}

#page-admin-report .plugin,
#page-course-report .plugin,
#page-course-import .plugin {
   margin-bottom: 20px;
   margin-left:20px;
   margin-right:20px;
   margin-top: 10px;
   border: 1px solid #cecece;
   background-color: #fdfdfd;
}

.path-course-report ul.progress-actions li {
   list-style-type: none;
}

.path-course-view .unread {
   background: #fcecae;
   border: 1px solid #461d7c;
}

.path-course-view .completionprogress {
   font-size:0.80em;
   padding:20px 26px 5px 5px;
}

#page-course-category .courseboxes,
#page-course-index .courseboxes {
   padding:20px;
}

#page-course-report #content {
   padding-top:15px;
   padding-bottom:15px;
}

#page-course-report #region-main p,
#page-course-report-log-index #region-main .info,
#page-course-report-log-indexlive #region-main .info,
#page-course-report-stats-index #region-main .graph {
   text-align: center;
}

.generaltable {
   background-color: #fff;
}

#page-course-report .logselectform,
#page-course-report .participationselectform,
#page-course-report-log-index .logselectform,
#page-course-report-participation-index .participationselectform {
   text-align:center;
}

.addcoursebutton {
   text-align:center;
}

.categorypicker {
   text-align:center;
   margin-bottom:10px;
}

.path-course-report-outline .loginfo {
   text-align:center;
   margin: 1em;
}

.categorylist {
   width: 90%;
   margin:0 auto;
   text-align: left;
}

/* Course and category combo list on front page */
.course_category_tree .controls {
   margin-bottom:5px;
   text-align:right;
   float:right;
}

.course_category_tree .controls div {
   padding-right:2em;
   font-size:75%;
}

.course_category_tree .category {
   background-color:#FFF;
   background-image:url([[pix:theme|hgradient]]);
   background-repeat: repeat-x;
   border:1px solid #ddd;
   margin-bottom:10px;
}

.course_category_tree .category .subcategories {
   background-color:inherit;
   padding-left:16px;
   border:1px solid #FFF;
}

.course_category_tree .category.with_children .category_label {
   background-position:3px 3px;
}

.course_category_tree .category_link .category_link {
   font-size:95%;
}

.course_category_tree .category_label {
   padding-left:13px;
}

.course_category_tree .category_link {
   display:block;
   margin:5px;
   font-size:120%;
   font-weight:bold;
}

.course_category_tree .category .courses {
   background-color:inherit;
}

.course_category_tree .category .courses .course_link {
   margin:5px;
   margin-right:100px;
}

.course_category_tree .category .course {
   border:1px solid #f9f9f9;
   border-bottom-color: #eee;
   border-right-width:0;
}

.course_category_tree .category .course:last-child {
   border-bottom-color:#f6f6f6;
}

.course_category_tree .category .course.even {
   background-color:#f6f6f6;
   border-color:#eee;
   border-top-color: #f9f9f9;
}

.course_category_tree .category .course_info {
   right:3px;
   top:3px;
}

.course_category_tree .category .course:hover {
   background-color:#eee;
}

/* Publication */
#page-course-publish-metadata .metadatatext {
   width: 400px;
}

#page-course-publish-metadata .hubscreenshot {
    display:inline;
    float:left;
    margin-right:10px;
}

#page-course-publish-metadata .hubscreenshot img {
   vertical-align: bottom;
}

#page-course-publish-metadata .hubdescription {
}

#page-course-publish-metadata .hubinfo {
   display:block;
   margin-bottom:20px;
}

#page-course-publish-metadata .hublink {
}

#page-course-publish-backup .courseuploadtextinfo {
   text-align: center;
}

#page-course-publish-backup .sharecoursecontinue  {
   text-align: center;
}

.glossarydisplay .entrybox {
   background-color: #fff;
   padding: 10px;
}


.glossarydisplay .entrybox table.glossarypost,
.glossarydisplay .entrybox table.glossarycategoryheader h2 {
   background-color: #f4f4f4;
   padding: 10px;
}


.glossarydisplay .entrybox table.glossarycategoryheader {
   margin-top: 10px;
   border: 1px solid #cecece;
   border-bottom: none;
}


#page-mod-glossary-print #page-content {
   background-color: #fff;
}


.path-course-view .dimmed_text img {
    opacity:0.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    height: 100%;
}

.path-course a.dimmed,
.path-course a.dimmed:link,
.path-course a.dimmed:visited,
.path-course a.dimmed_text,
.path-course a.dimmed_text:link,
.path-course a.dimmed_text:visited,
.path-course .dimmed_text,
.path-course .dimmed_text a,
.path-course .dimmed_text a:link,
.path-course .dimmed_text a:visited,
.path-course .dimmed_category,
.path-course .dimmed_category a {
    color: #883333;
    font-weight: normal;
}


.single-section div.header {
   background: transparent;
}

.single-section div.header>div {
   background: #fff;
   margin: -6.5px;
   height: 2em;
}

.path-course.editing .section-modchooser {
   width: 90%;
}

.path-course.editing .icon.hide {
   margin-top: .5em;
}

.path-course.editing .section-handle {
  display: block;
  margin-top: -1em;
}

.path-course .course-content a.editing_assign, .path-course a.editing_groupsnone, .path-course a.editing_groupsseparate, .path-course a.editing_groupsvisible {
  display: none;
}

.path-course span.commands {
  display: inline-block;
  width: 18em;
  margin-left: 1em;
  vertical-align: bottom;
}

.path-course span.commands a {
  margin: 0 5px; 
}

.path-course span.commands a.editing_delete {
  float: none;
}

.path-course span.commands img.spinner {
  float: right;
}

.editing .course-content .section .activity .activityinstance {
  display: inline-block;
  padding-right: 0;
  vertical-align: bottom;
}

.editing .toggle-display.textmenu {
   display: none!important;
   padding-right: 0;
}

.editing.jsenabled .toggle-display.textmenu {
   display: inline-block!important;
   padding-right: 10px;
}


.editing .moodle-actionmenu li a {
  padding: 0 4px;
}

.editing .moodle-actionmenu li a.editing_assign {
  display: none!important;
}

.path-course-view .section {
  font-size: 1em;
}

.path-course .section .activity .actions {
  position: relative;
  display: inline-block;
  clear: none;
  vertical-align: bottom;
}

.path-course a.editing_title {
  padding-left: 2em;
  vertical-align: bottom;
}


.path-course div#changenumsections {
  padding-right: 10px;
}

/** SINGLE Section Per Page **/
.path-course .single-section .section-navigation.header {
   padding: 0;
   height: 24px;
   background: transparent;  
   margin-bottom: 0;
   border-bottom-width: 0;
}
.path-course .single-section .section-navigation.header .mdl-align {
   margin: 0;
   padding: 5px;
   background: transparent url([[pix:theme|navbar]]) 0 -150px repeat-x;
}

.path-course .single-section .section-navigation .mdl-right, .path-course .single-section .section-navigation .mdl-left {
   padding: 5px 1em 0 1em;
}

.path-course .single-section li.section {
   border-top-width: 0 !important;
   margin-top: 0 !important;
}

.path-course .single-section li.section .content span.completionprogress {
   float: none;
   margin: 0;
   padding: 0;
   right: 2.5em;
   bottom: 3em;
   position: absolute;
}

.path-course .single-section .section-navigation.mdl-bottom {
   margin-top: 1em;
   padding-bottom: 15px;
}
.path-course .single-section li.section .content {
   min-height: 2em;
}

.path-course .content {
   padding-bottom: .5em !important;
}

.path-course .section div.right.side, .path-course .section div.left.side, .path-course .section-summary div.left.side, .path-course .section-summary div.right.side {
  display: none;
}

.path-course.editing div.right.side, .path-course.editing div.left.side {
  display: block;
}

.forumng-subscribe-options {
    text-align: center;
 }

#forumng-main {
  margin: 10px 20px 20px 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 15px #bbbbbb;
}

 #forumng-main .forumng-stop-indent .forumng-replies{
    margin: 0px;
}


 .forumng-post {
    margin-bottom: 1em;
    border: 1px solid #aaa;
    padding: 0.5em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.forumng-iframe #page-header {
    display: none;
}

span.rarrow, span.larrow {
   padding: 0 10px 0 10px;
}
