/**
 * Rounded Corner Syntax Guide
 *
 * The following are CSS means for getting rounded corners. Sorry no IE yet, and
 * please note that each uses a slightly different style of syntax for specific
 * definition (top, bottom, left, right).
 *
 * CSS3 rounded corners
 *   border-radius
 *   border-top-left-radius
 *   border-top-right-radius
 *   border-bottom-left-radius
 *   border-bottom-right-radius
 *
 * Mozilla rounded corners
 *   -moz-border-radius
 *   -moz-border-radius-topleft
 *   -moz-border-radius-topright
 *   -moz-border-radius-bottomleft
 *   -moz-border-radius-bottomright
 *
 * Webkit rounded corners
 *   -webkit-border-radius
 *   -webkit-border-top-left-radius
 *   -webkit-border-top-right-radius
 *   -webkit-border-bottom-left-radius
 *   -webkit-border-bottom-right-radius
 */

.block.hidden {
}

table.minicalendar td,
.path-calendar .maincalendar .filters table,
.path-calendar .sidecalendar .filters table,
.block.block_calendar_month .filters table,
.path-calendar .maincalendar li.calendar_event_course,
.path-calendar .maincalendar li.calendar_event_global,
.path-calendar .maincalendar li.calendar_event_user,
.path-calendar .maincalendar li.calendar_event_group,
.path-calendar .filters td.calendar_event_course,
.path-calendar .filters td.calendar_event_global,
.path-calendar .filters td.calendar_event_user,
.path-calendar .filters td.calendar_event_group {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.noticebox {
}

table.minicalendar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.sitetopiccontent {
}

.block_course_summary,
#page-course-user .section {
}

.generalbox,
.generalboxcontent,
.informationbox,
.informationboxcontent {
}

.editing .block_course_summary .content {
  -moz-border-radius-topleft:0;
  -moz-border-radius-topright:0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.entryboxheader {
}

.generaltabselected,
.generaltab, .generaltabinactive,
.glossarycategoryheader,
.glossaryformatheader {
  -moz-border-radius-topleft:15px;
  -moz-border-radius-topright:15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.entrybox {
}

.path-calendar .eventlist .event {
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.path-calendar .eventlist .event .side {
  -moz-border-radius-bottomleft:15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.path-calendar .eventlist .event .description {
  -moz-border-radius-bottomright:15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.path-calendar .maincalendar,
.path-calendar .sidecalendar,
.path-calendar td.sidecalendar .block {
  -moz-border-radius-bottomright:10px;
  -moz-border-radius-bottomleft:10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.loginbox .content.left,
#page-user-view .left,
.forumpost .side,
.glossarycomment .side {
}

.loginbox .content.right,
.forumpost .content,
.forumpost .message,
.forumpost .side,
.glossarycomment .entry {
}

#quiznavigation .qnbutton {
  -moz-box-sizing: content-box;
}

#page-mod-quiz-edit div.editq div.question div.content,
#page-mod-quiz-edit div.quizpage .pagecontent {
}

#page-mod-quiz-edit div.quizpage .pagecontent .pagestatus,
#page-mod-quiz-edit .reorder div.question div.content{
}

#page-mod-quiz-edit div.question div.content div.points,
#page-mod-quiz-edit div.question div.content div.qorder {
}

#page-mod-quiz-edit div.quizpage .pagecontent form#addquestion{
}

#custommenu {
        -webkit-border-bottom-left-radius:15px;
        -moz-border-radius-bottomleft:15px;
        border-bottom-left-radius:15px;
}

.block, .path-calendar .maincalendar {
   border-width: 10px;
   margin: 0;
   -moz-border-image: url([[pix:theme|borders]]) 10 10 stretch;
   -webkit-border-image: url([[pix:theme|borders]]) 10 10 stretch;
   -o-border-image: url([[pix:theme|borders]]) 10 10 stretch;
   border-image: url([[pix:theme|borders]]) 10 10 stretch;
}

.course-content ul.topics li.section, .course-content ul.weeks li.section, .mform fieldset, .headingblock {
   text-align: left;
   border-width: 10px;
   background-color: transparent;
   -moz-border-image: url([[pix:theme|borders]]) 10 10 stretch;
   -webkit-border-image: url([[pix:theme|borders]]) 10 10 stretch;
   -o-border-image: url([[pix:theme|borders]]) 10 10 stretch;
   border-image: url([[pix:theme|borders]]) 10 10 stretch;
}

div.region-content>div.box, div.userprofile {
   box-shadow: 0 0 15px #bbbbbb;
}

.block_course_overview div.coursebox, .block_course_overview div.assign.overview {
  -moz-border-radius-bottomright: 1em;
  -webkit-border-bottom-right-radius: 1em;
  border-bottom-right-radius: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-right-radius: 1em;
  border-top-right-radius: 1em;
}

.block_course_overview_plus div.coursebox {
  -moz-border-radius-bottomright: 1em;
  -webkit-border-bottom-right-radius: 1em;
  border-bottom-right-radius: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-right-radius: 1em;
  border-top-right-radius: 1em;
}

input[type="submit"], button[type="submit"], input[type="button"] {
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -webkit-appearance: none;
   -moz-appearance: none;
}

/*
select {
   -webkit-appearance: none;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}
*/

input[type="text"], input[type="password"] {
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -webkit-appearance: none;
   -moz-appearance: none;
   -moz-box-shadow:inset 0 0 5px #ccc;
   -webkit-box-shadow:inset 0 0 5px #ccc;
   box-shadow:inset 0 0 5px #ccc;
}

/*
input[type="checkbox"] {
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -webkit-appearance: none;
   -moz-box-shadow:inset 0 0 2px #666;
   -webkit-box-shadow:inset 0 0 2px #666;
   box-shadow:inset 0 0 2px #666;
}

input[type="checkbox"]:checked {
   -webkit-appearance: none;
   -moz-appearance: none;
}

input[type="radio"] {
   border-radius: 6px;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   -webkit-appearance: none;
   -moz-appearance: none;
   -moz-box-shadow:inset 0 0 2px #666;
   -webkit-box-shadow:inset 0 0 2px #666;
   box-shadow:inset 0 0 2px #666;
}

input[type="radio"]:checked {
   -webkit-appearance: none;
   -moz-appearance: none;
}
*/
.navbar .navbutton .singlebutton input[type="submit"] {
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -webkit-appearance: none;
   -moz-box-shadow:inset 0 0 2px #333;
   -webkit-box-shadow:inset 0 0 2px #333;
   box-shadow:inset 0 0 2px #333;
}

.editing .navbar .navbutton .singlebutton input[type="submit"] {
   -moz-box-shadow:inset 0 0 2px #000;
   -webkit-box-shadow:inset 0 0 2px #000;
   box-shadow:inset 0 0 2px #000;
}

.path-grade div.gradeparent {
   border-width: 10px;
   margin: 0;
   -moz-border-image: url([[pix:theme|borders]]) 10 10 stretch;
   -webkit-border-image: url([[pix:theme|borders]]) 10 10 stretch;
   -o-border-image: url([[pix:theme|borders]]) 10 10 stretch;
   border-image: url([[pix:theme|borders]]) 10 10 stretch;
}

.path-grade ul.tabrow1 {
   box-shadow: 0 0 15px #aaa;
}

#page-admin-index div.box.copyright {
   box-shadow: none;
}

#page-mod-quiz-edit div.questioncontainer div.content {
  border-top-left-radius: 0 !important; 
  border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-bottomleft: 0 !important;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
}


#page-mod-quiz-edit div.questioncontainer div.pagecontent {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-bottomleft: 0 !important;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
}
