/** Grades **/

#page-grade-index .grades .header {
   font-weight: bold;
   font-size: 0.7em;
}

#grade-aggregation-help dt {
   font-weight: bold;
}

#grade-aggregation-help dd.example {
   font-style: italic;
}

#grade-aggregation-help code {
   font-style: normal;
}

#page-grade-index .grades {
   border-color: #ccc;
}

#page-grade-index .grades td {
   border-color: #ccc;
}

#page-grade-index .grades .r0 {
   background-color: #fff;
}

#page-grade-index .grades .r1 {
   background-color: #f0f0f0;
}

td.grade div.overridden {
   background-color: #dddddd;
}

.path-grade-report-grader table#user-grades td.cell span.gradepass {
   background-color: #c2ebbd;
}

.path-grade-report-grader table#user-grades td.cell span.gradefail {
   background-color: #ebc4bd;
}

.path-grade-report-grader table#user-grades td.clickable {
   cursor: pointer;
}

.path-grade-report-grader .graderreportoverlay {
   background-color: #eeeeee;
   border: 1px solid #ccc;
   padding: 5px;
   font-size: 80%;
}

.path-grade-report-grader .graderreportoverlay div.feedback {
}  

.path-grade-edit-tree .moving {
   background-color: #e8eef7;
}

.path-grade-edit-tree .gradetreebox {
   width: 97.5%;
   padding-bottom: 15px;
}

.path-grade-edit-scale .scale_options,
#page-admin-grade-edit-scale-index .scale_options {
   font-size: 0.7em;
}

.gradetreebox {
   margin: auto;
   width: 100%;
   font-size: 90%;
}

.gradetreebox .smallicon {
   width: 10px;
   height: 10px;
   padding: 0 1px;
}

.gradetreebox table {
   font-size: 0.8em;
   border: 1px solid #ccc;
}

.gradetreebox tr.category th.cell.rowspan {
   border-width: 1px;
   border-left: 1px solid #ccc;
}

.gradetreebox td.name {
   border-left: 1px;
}

.gradetreebox td.colspan {
   border-left: 1px solid #aaa;
   border-bottom: 1px solid #ccc;
   border-top: none;
   background-color: #ddd;
}

.path-grade form#choosepluginreport {
   margin: 10px;
   text-align: center;
}

.path-grade div#graded_users_selector, .path-grade div.no-overflow {
   margin: 0 10px;
   width: 100%;
   text-align: center;
}

.path-grade div.no-overflow table, .path-grade table.user-grade {
   width: 800px;
   margin: 10px auto; 
   text-align: left;
}

.path-grade div.gradeparent {
   margin-left: 10px;
   background-color: transparent;
}

.path-grade .left_scroller, .path-grade .left_scroller #fixed_column, .path-grade .right_scroller #user-grades {
   vertical-align: top;
   padding-top: 0;
   margin-top: 0;
}

.path-grade .left_scroller {
   margin-top: 20px;
}

#page-grade-report-grader-preferences div.box {
   background-color: transparent;
   border: none;
   box-shadow: none !important;
}

.path-grade fieldset.clearfix div.clearfix {
   padding: 10px;
   width: auto;
   text-align: left;
}

.path-grade div.region-content>form>div {
   margin-top: -20px;
}

.gradetreebox tr th.cell.level1, .gradetreebox tr th.cell.level2, .gradetreebox tr th.cell.level3, .gradetreebox tr th.cell.level4, .gradetreebox tr th.cell.level5, .gradetreebox tr th.cell.level6, .gradetreebox tr th.cell.level7, .gradetreebox tr th.cell.level8, .gradetreebox tr th.cell.level9 {
   width: 10px !important;
   padding: 0;
   min-width: 10px !important;
   border-top: 1px solid #ccc !important;
   border-bottom: 1px solid #ccc !important;
   border-right: 1px solid #ccc !important;
}

.gradetreebox tr.item td {
   padding-left: 15px;
}

.gradetreebox tr.categoryitem td, .gradetreebox tr td.actions {
   padding-left: 5px;
}

#page-grade-report-grader-index th {
   border-color: #bbb !important;
}

table#user-grades td.topleft {
  border-width: 1px;
}

.path-grade-report-grader table td.topleft {
  border-width:1px;
}

#page-grade-report-grader-index table th.filler, #page-grade-report-grader-index table th.fillerfirst {
  border-width: 0 !important;
}

#page-grade-report-grader-index table td.fixedcolumn.lastcol {
background-color: #fff;
border-color: #fff;
border-left-color: #bbb;
}

#page-grade-report-grader-index table th.category {
  border-left-width: 0px !important;
}

#page-grade-report-grader-index table th.catlevel1, #page-grade-report-grader-index table th.catlevel1highlightable, .gradetreebox tr .cell.level1, #page-grade-report-user-index table td.oddd1 {
   background-color: #f0f0f0 !important;
}

#page-grade-report-grader-index table th.catlevel2, #page-grade-report-grader-index table th.catlevel2highlightable, .gradetreebox tr .cell.level2, #page-grade-report-user-index table td.oddd2 {
   background-color: #cfc3e5 !important;
}

#page-grade-report-grader-index table th.catlevel3, #page-grade-report-grader-index table th.catlevel3highlightable, .gradetreebox tr .cell.level3, #page-grade-report-user-index table td.oddd3 {
   background-color: #dae4bd !important;
}

#page-grade-report-grader-index table th.catlevel4, #page-grade-report-grader-index table th.catlevel4highlightable, .gradetreebox tr .cell.level4, #page-grade-report-user-index table td.oddd4 {
   background-color: #cccccc !important;
}

#page-grade-report-grader-index table th.catlevel5, #page-grade-report-grader-index table th.catlevel5highlightable, .gradetreebox tr .cell.level5, #page-grade-report-user-index table td.oddd5 {
   background-color: #ffcccc !important;
}

#page-grade-report-grader-index table th.catlevel6, #page-grade-report-grader-index table th.catlevel6highlightable, .gradetreebox tr .cell.level6, #page-grade-report-user-index table td.oddd6 {
   background-color: #ccffcc !important;
}

#page-grade-report-grader-index table th.catlevel7, #page-grade-report-grader-index table th.catlevel7highlightable, .gradetreebox tr .cell.level7, #page-grade-report-user-index table td.oddd7 {
   background-color: #ccccff !important;
}

#page-grade-report-grader-index table th.catlevel8, #page-grade-report-grader-index table th.catlevel8highlightable, .gradetreebox tr .cell.level8, #page-grade-report-user-index table td.oddd8 {
   background-color: #ffffcc !important;
}

#page-grade-report-grader-index table th.catlevel9, #page-grade-report-grader-index table th.catlevel9highlightable, .gradetreebox tr .cell.level9, #page-grade-report-user-index table td.oddd9 {
   background-color: #ccffff !important;
}

#page-grade-report-grader-index .right_scroller .even td, #page-grade-report-grader-index .left_scroller .even th {
}

#page-grade-report-grader-index .right_scroller .odd td, #page-grade-report-grader-index .left_scroller .odd th {
   background-color: #efefef;
}

#page-grade-report-user-index table td {
   border: 1px solid #bbb;
}

#page-grade-report-grader-index table th.catlevel1highlightable a, #page-grade-report-grader-index table th.catlevel1highlightable img {
    margin: 0;
    vertical-align: top;
}

#page-grade-report-grader-index table th.catlevel2highlightable a, #page-grade-report-grader-index table th.catlevel2highlightable img {
    margin: 0;
    vertical-align: top;
}

#page-grade-report-grader-index table th.catlevel3highlightable a, #page-grade-report-grader-index table th.catlevel3highlightable img {
    margin: 0;
    vertical-align: top;
}

#page-grade-report-grader-index table th.catlevel4highlightable a, #page-grade-report-grader-index table th.catlevel4highlightable img {
    margin: 0;
    vertical-align: top;
}

#page-grade-report-grader-index table th.catlevel5highlightable a, #page-grade-report-grader-index table th.catlevel5highlightable img {
    margin: 0;
    vertical-align: top;
}

#page-grade-report-grader-index table th.catlevel6highlightable a, #page-grade-report-grader-index table th.catlevel6highlightable img {
    margin: 0;
    vertical-align: top;
}

#page-grade-report-grader-index table th.catlevel7highlightable a, #page-grade-report-grader-index table th.catlevel7highlightable img {
    margin: 0;
    vertical-align: top;
}

#page-grade-report-grader-index table th.catlevel8highlightable a, #page-grade-report-grader-index table th.catlevel8highlightable img {
    margin: 0;
    vertical-align: top;
}

#page-grade-report-grader-index table th.catlevel9highlightable a, #page-grade-report-grader-index table th.catlevel9highlightable img {
    margin: 0;
    vertical-align: top;
}

#page-grade-report-grader-index span.quickeditgrade {
   padding-right: 8px;
}

#page-grade-report-grader-index #studentheader a {
   padding: 0 2px;
}

#page-grade-report-grader-index table#fixed_column th.user.cell a {
   vertical-align: -80%;
}

#page-grade-report-grader-index div.right_scroller.topscroll {
   height: 16px;
}

table#user-grades .hidden,
table#user-grades .hidden a {
color:#883333;
}

#page-grade-edit-tree-item #fitem_id_grademin input#id_grademin, #page-grade-edit-tree-category input#id_grade_item_grademin {
  background-color: #ccc;
}

#page-grade-edit-tree-item #fitem_id_grademin, #page-grade-edit-tree-category #fitem_id_grade_item_grademin {
 display: none;
}

.initialbar > :not(a) {
 margin-right: .25em;
 margin-left: .25em;
}
